{% if post.data.title  %} 
    {% set articleTitle = post.data.title %}
{% else %}
    {% set articleTitle = title %}
{% endif  %} 

<h2 class="text-3xl md:text-4xl tracking-tight text-neutral-700 m-0 p-0">
    <a href="{{ post.data.permalink }}" class="no-underline font-medium">{{ articleTitle }}</a>
</h2>