<div class="blog-card">

    <image src="{{ post.data.cover }}" alt="{{ post.data.title }} cover image" />
    
    <div class="blog-card-content">

    
        {% include "components/blog/title.njk" %}
        {% include "components/blog/date.njk" %}

        <div class="text-base leading-7 border-t border-neutral-800/10 py-4 mt-4 border-b">
            {{ post.data.summary }}
        </div>

        
        {% include "components/blog/topics.njk" %}

        <a class="read-more" href="{{ post.url }}">Read More &raquo;</a>
    </div>
</div>