<!-- Copyright -->
<div class="w-full py-4 text-center bg-cfpurple-darker text-neutral-400 text-xs">
   <span class="copyright">&copy; {% year %} &middot; {{ site.title }} &middot; All Rights Reserved</span>
</div>