{% set titleStyle = "text-base font-medium pb-4 border-b border-white/20 uppercase tracking-wide mb-6" %}
{% set linkStyle = "text-white/80 font-normal hover:text-white" %}

<footer class="bg-cfpurple-dark text-white py-20" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  
  <div class="container">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">


      <div class="grid grid-cols-1 gap-8 xl:col-span-2">   
        <div class="md:grid md:grid-cols-3 md:gap-8">
          
          <!-- Loneliness Column -->
          <div>
            <h3 class="{{ titleStyle }} ">Loneliness</h3>
            <ul role="list" class="mt-4 space-y-4">

                {%- for post in collections.loneliness -%}
                    <li>
                        <a href="{{ post.url }}" class="{{ linkStyle }}">
                            {{ post.data.title }}
                        </a>
                    </li>
                {%- endfor -%}

            </ul>
          </div>

          <!-- Gender Column -->
          <div>
            <h3 class="{{ titleStyle }} mt-10 md:mt-0">Gender</h3>
            <ul role="list" class="mt-4 space-y-4">

                {%- for post in collections.gender -%}
                    <li>
                        <a href="{{ post.url }}" class="{{ linkStyle }}">
                            {{ post.data.title }}
                        </a>
                    </li>
                {%- endfor -%}

            </ul>
          </div>



          <!-- Legal Column -->
          <div>
            <h3 class="{{ titleStyle }} mt-10 md:mt-0">Legal</h3>
            <ul role="list" class="mt-4 space-y-4">

                {%- for post in collections.legal -%}
                    <li>
                        <a href="{{ post.url }}" class="{{ linkStyle }}">
                            {{ post.data.title }}
                        </a>
                    </li>
                {%- endfor -%}

            </ul>
          </div>


     
        </div>
      </div>

 
    </div>


    </div>
  </div>
</footer>
