{% if type != 'post' %}
    <meta name="Algolia crawler" content="noindex">
    <meta property="description" content="{{ description or site.description }}"/>

  {% else %}
    {% if post.data.categories  %} 
    {% set categories = post.data.categories %}
    {% else %}
        {% set categories = categories %}
    {% endif  %} 
    <meta property="product:category" content="{{ categories | join(',') }}"/>
    {% if post.data.date  %} 
        {% set publishedDate = post.data.date %}
    {% else %}
        {% set publishedDate = date %}
    {% endif  %} 
    <meta property="article:published_time" content="{{ publishedDate | postDate }}"/>
    {% if summary  %} 
        <meta name="description" content="{{ summary }}"/>
    {% else %}
        <meta name="description" content="{{ description or site.description }}"/>
    {% endif  %}
    

  {% endif %}