<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ENYMXXEP07"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ENYMXXEP07');
</script>
{% if site.analytics.fathom  %} 
    <script src="https://control.corinnefreer.com/script.js" data-site="{{ site.analytics.fathom }}" defer></script>
{% endif  %} 
  {% include "components/head/favicons.njk" %}
  {% include "components/head/style.njk" %}
  {% include "components/head/fonts.njk" %}
  {% include "components/head/scripts.njk" %}
  
</head>