{% metagen
    title=title or site.title,
    keywords=keywords or site.keywords,
    url=site.url + page.url,
    img=cover,
    img_alt=alt,
    twitter=site.twitter,
    twitter_creator=corinne,
    twitter_card_type=type,
    twitter_handle=site.twitter,
    name=name,
    custom=[["meta", "", {name: "author", content: site.author.name }]]
%}

{% if keywords %}<meta name="keywords" content="{{ keywords }}"/>{% endif %}
