@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  @apply font-sans;
}

.poppins { 
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Poppins', sans-serif;
  @apply m-0 p-0;
}

/****** MAIN NAVIGATION ***/

ul.main-navigation {
  @apply poppins text-base text-neutral-700 font-medium;
}

ul.main-navigation {
  @apply poppins;
}

ul.main-navigation > li {
  @apply inline-block float-left;
}

ul.main-navigation > li > a {
  @apply block px-2 lg:pl-3 py-7 ml-3 lg:ml-5;
}

ul.main-navigation > li > ul {
  @apply w-64 bg-neutral-50 border-t border-neutral-200 text-sm rounded-b-lg;
}

ul.main-navigation > li > ul > li {
	@apply border-b;
}

ul.main-navigation > li > ul a {
	@apply block pl-6 py-3;
}

ul.main-navigation > li > ul li:hover {
	@apply bg-neutral-100;
}

ul.main-navigation > li > ul > li:last-of-type {
  @apply border-none rounded-b-lg;
}

/****** BLOG ***/


article,
.blog-card { 
	@apply mb-8 bg-white p-4 md:p-6 shadow-sm rounded-md;
}

.blog-card img { 
	@apply w-auto mb-4 md:mb-6 rounded-md; 
}

.blog-card-content { 
	@apply bg-neutral-50 p-5 md:p-8 rounded-md shadow-inner;
}


.blog-card-content .read-more { 
	@apply poppins inline-flex items-center px-5 py-3 uppercase mt-6 border border-transparent shadow-sm font-medium rounded-md text-white bg-cfpurple; 
}



/****** SIDEBAR ***/

#sidebar div { 
	@apply p-8 bg-neutral-100 rounded-md mb-8 shadow-sm; 
}

#sidebar div p { 
	@apply text-base leading-7 mb-6 pr-6 text-neutral-700;
}

#sidebar div p:last-child { 
	@apply mb-0;
}

#sidebar h2 { 
	@apply text-2xl mb-6; 
}
#search .aa-Autocomplete, #search .aa-InputWrapperPrefix, #search .aa-InputWrapper, #search .aa-InputWrapperSuffix{
	padding: 0px !important;
	margin: 0px !important;
	background-color: transparent !important;
	box-shadow: none !important;
}
.aa-Form:focus-within{
	border-color: #2D2B3D !important;
}
.aa-Autocomplete .aa-Form, .aa-DetachedFormContainer .aa-Form {
    height: auto !important;
}
#search .aa-ClearButton{
	padding: 0 10px !important;
}
.aa-Panel{
	min-width: auto !important;
}
.aa-SubmitButton{
	padding-left: 10px !important;
}