{% extends "layouts/base.njk" %}
{% block mainContent %}


    <div class="container pt-8">

    <article class="prose max-w-full p-12">

        {% if mast %} 
            <img src="/assets/images/mast/{{ mast }}" alt="{{ title }} intro image" class="w-full rounded-md">

        {% else %}
         <h1 class="text-4xl pb-8 mb-8 border-b border-neutral-200 font-normal">{{ title }}</h1>
        {% endif %}

       
        {{ content | safe }}
    </article>


    </div>

{% endblock %}


