{% extends "layouts/base.njk" %}
{% block mainContent %}

<div class="shadow-inner bg-home-cover bg-top bg-cover py-8 px-2 md:p-20 xl:p-24 text-white font-normal poppins shadow-md">
    <div class="container">

        <div class="bg-neutral-900/80 p-12 max-w-3xl rounded-md upp">
            <h1 class="block text-3xl md:text-4xl tracking-tight lg:leading-masthead pb-6 border-b border-white/25 max-w-xs sm:max-w-none uppercase">
                Mjolnir Strong
            </h1>
            
            <p class="text-base leading-8 tracking-wide mt-6 block">
                Welcome to Mjolnir Strong, where I believe that training like a Viking is not only physically beneficial, but also mentally empowering. Mjolnir Strong goes beyond the typical workout routine to provide a training experience that will make you feel like a true warrior. The name, inspired by Thor's powerful hammer, represents my commitment to help you build strength and resilience like that of a true Viking. So, if you're ready to unleash your inner Viking and achieve unparalleled levels of strength and fitness, then come train the Mjolnir Strong way.
            </p>
        </div>   
        
    </div>
</div>



    <div class="container grid gap-0 lg:gap-10 grid-cols-12 pt-8">

        
            Heya!

    </div>
    
{% endblock %}

