{% extends "layouts/base.njk" %}
{% block mainContent %}
     <main class="container py-10 min-h-screen">
          <div class="flex items-center" id="sidebar">
               <div class="w-full">
               <h2>Search</h2>
               <form class="relative w-full" action="/search/" method="GET">
                    <input id="search_param" type="search" autocomplete="false" name="query" class="w-full rounded-lg p-4 border-neutral-300 focus:border-cfpurple-dark" placeholder="Enter Search Term..." required />
               </form>
               </div>
          </div>
          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3" id="search_result">
          </div>
     </main>
     <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"></script>
<script>
    const client = algoliasearch('NGG137RN1T', 'dde912e6f70c279d52ada566d203ece3');
    const index = client.initIndex('netlify_f259fd05-ea69-4633-bd76-c5c4aece9805_main_all');  

    (async function(){
        const params = new URLSearchParams(window.location.search)

        console.log(params, 'params')
        let search = params.get('query');
        if(search){
            console.log(search)
            document.querySelector('#search_param').value = search;
            const results = await index.search(search, {
            attributesToRetrieve: ["title", "url", "date", "description", "content", "image", "category", "datePublished"],

            }).then(res => {
                return res.hits;
            })
            let div = '';
            results.forEach(data=>{
               //let category = data.
               let date = new Date(data.datePublished * 1000).toLocaleString('en-CA', {
                    month: 'short',
                    day: 'numeric',
                    year: 'numeric'
                    });
               let categories = '';

               if(data.category){
                    data.category.split(',').forEach(cat=>{
                         categories += `<li class="inline-block border-r pl-2 pr-2 last-of-type:border-0 border-neutral-400 first-of-type:pl-2 leading-[0.9]">
                                        <a href="/articles/categories/${cat.toLowerCase().replace(/[^\w-]+/g, '-')}" class="inline-block text-pink-900 hover:text-pink-700 no-underline">${cat}</a>
                                   </li>`
                    })
               }

                div += `
                    <div class="blog-card">
                    <img src="${data.image}">
                    <div class="blog-card-content">
                         <h2 class="text-3xl md:text-4xl tracking-tight text-neutral-700 m-0 p-0">
                              <a href="${data.url}" class="no-underline font-medium">${data.title}</a>
                         </h2>
                         <div class="my-2">
                              <time datetime="${date}" class="block rounded-lg bg-neutral-200/40 py-3 px-3 mt-4 font-semibold uppercase text-center text-sm max-w-fit text-neutral-600">${date}</time>
                         </div>
                         <div class="text-base leading-7 border-t border-neutral-800/10 py-4 mt-4 border-b">${data.description}</div>
                         <div class="flex items-center md:flex-wrap font-semibold mt-4" ${!categories ? 'style="display: none"': ''}>
                              <p class="mr-2">Topics:</p>
                              <ul>
                                  ${categories}
                              </ul>
                         </div>
                         <a class="read-more" href="${data.url}">Read More »</a>
                    </div>
               </div>`
            })
            if(results.length == 0){
                document.querySelector('#search_result').innerHTML = '<h1>No records found</h1>';
            }else{
                document.querySelector('#search_result').innerHTML = div;
            }
        }
    })();

</script>
{% endblock %}
