<form name="Dr. Freer General Contact" method="POST" data-netlify="true" action="/connect/success">

<label for="name">Your Name:</label>
<input type="text" name="name" />

<label for="email">Your Email:</label>
<input type="email" name="email" />

<label for="message">Message:</label>
<textarea name="message"></textarea>

<button type="submit" class="bg-neutral-800 text-white poppins px-6 py-3">Send</button>

</form>
