{% include "components/header/off-canvas.njk" %}

<header class=" bg-white border-b py-4">
<nav x-data="{ open: false }"  role="navigation" aria-label="Main Menu">
<div class="container">
    <div class="flex items-center justify-between h-24 py-6 overflow-hidden">

    <div class="flex-shrink-0">
        {% include "components/global/logo.njk" %}
    </div>
    
    {% include "components/header/desktop-links.njk" %}
    {% include "components/header/mobile-button.njk" %}

    </div>
    
</div>
</nav>
</header>
